{% extends 'base.html' %}
{% block titulo %}Demonstrativos {{ comp|compbr }}{% endblock %}
{% block conteudo %}
<div class="acoes nao-imprimir" style="margin-bottom:12px"><button onclick="window.print()">Imprimir</button>
  <a class="botao secundario" href="{{ url_for('views.cobrancas', competencia=comp) }}">Voltar</a></div>
{% for x in itens %}{% with cb=x.cb, c=x.c, i=x.i, t=x.t %}{% include '_demonstrativo.html' %}{% endwith %}
{% else %}<p>Nenhuma cobrança neste mês.</p>{% endfor %}
{% endblock %}
