{% extends 'base.html' %}{% from '_macros.html' import csrf_input with context %}
{% block titulo %}Trocar senha{% endblock %}
{% block conteudo %}
<div class="cartao login">
  <h1>Trocar minha senha</h1>
  <form method="post">
    {{ csrf_input() }}
    <p><label>Senha atual</label><input type="password" name="atual" autocomplete="current-password"></p>
    <p><label>Nova senha</label><input type="password" name="nova" autocomplete="new-password"></p>
    <p><label>Repita a nova senha</label><input type="password" name="nova2" autocomplete="new-password"></p>
    <button>Salvar</button>
  </form>
</div>
{% endblock %}
